.nunito-googleFont {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

* {
    font-family: Nunito, sans-serif;  
}

#root {
    flex: 1; 
    padding-top: 200px; 
    height: 100%;
}

html, body {
    margin: 0; 
    font-size: 19px; 
    color:black;
}

body {
  display: flex; 
  flex-direction: column;
}

.content {
  padding: 20px;
}


nav {
    margin: 0;
    height: 200px; 
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: [first] 25% [line2] 50% [line3] 25%;
}

nav > .zaunahomelogo {
    margin-top: 25px;
    display: flex; 
    justify-content: center;
    flex-direction: row;
}

 .zaunahomelogo > img {
    height: 150px;
}

a.aboutus {
    display: flex;
    justify-content: center;
    padding-top: 20%;
    margin-left: 35px; 
    color: white;
    font-size:larger;
    text-decoration: none;
}

a.aboutus:hover {
    color: #349eeb;
}

nav > h1 {
    padding-top: 20%;
    color: white;
    padding-left: 15px;
}


/* DIV HOME PAGE STYLING */

.section {
  position: relative;
  height: 100vh; 
  background-size: cover; 
  background-position: center;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.overlay h1 {
  font-size: 4em;
  margin: 0;
  color: #349eeb;
}

.overlay p {
  font-size: 2em; 
  margin: 10px 0;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  transition: background 0.3s;
}

.button:hover {
  background-color: #349eeb;
}

/* LOGIN PAGE STYLING */

div.login {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #349eeb;
  border-radius: 50px;
  margin-left: 80px;
  margin-top: 30px; 
}

form.login-form {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

form.login-form button:hover {
  background-color: #cd09fe;
}

/* REGISTER PAGE STYLING */

div.register {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #349eeb;
  border-radius: 50px;
  margin-left: 80px;
  margin-top: 30px; 
}

form.register-form {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

form.register-form input {
  width: 50%;
}

div.please-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.please-login a {
  font-size: x-large;
}
/* HAMBURGER MENU STYLING */

.hamburger-menu {
    position: relative;
}

.menu-icon {
    font-size: 35px;
    cursor: pointer;
    color: #ffffff; 
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin-top: 70px;
    margin-right: 70px;
}

.menu-icon:hover {
  color: #349eeb;
}

.nav-menu {
    margin-top: 5px; 
    margin-bottom: 10px; 
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #00000050;
    position: absolute;
    width: 100px;
    height: 100px; 
    border-radius: 25px;
    z-index: 9; 
}

.nav-menu.active {
    display: flex;
    height: 150px; 
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu ul li {
    margin: 1rem 0;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: medium; 
}

.nav-menu ul li a:hover {
    color: #349eeb;
}



/* ACCOUNT PAGE STYLING */

.main-layout {
    display: flex; 
  }
  
  .sidebar {
    width: 400px; 
    height: 1500px; 
    background-color: #349feb; 
    padding: 20px; 
    border-right: 1px solid #ddd; 
  }
  
  .sidebar ul {
    list-style-type: none; 
    padding: 0; 
  }
  
  .sidebar ul li {
    margin: 10px 0; 
  }
  
  .sidebar ul li a {
    text-decoration: none; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333; 
    padding: 30px;
    font-size: x-large;
    font-weight:bold; 
    font-style: italic;
  }

  .sidebar ul li a:hover {
    color: white;
  }
  
  .content {
    flex: 1; 
    padding: 20px; 
    width: 100%;
  }


/* MAIN CONTENT ACCOUNT PAGE STYLING */


div.account-home {
        display: flex;
        flex-direction: column; 
        align-items: center;
}

/* SAUNA BOOKING STYLING */


  div.sauna-bookings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.book-sauna-time {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    padding: 20px;
    margin: 20px;
  }

  div.sauna-bookings button {
    width: 250px;
    height: 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 15px;
    font-weight: bold;
  }

  div.sauna-rooms {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  div.book-sauna-time button {
    background-color: #349eeb;
    font-style: bold;
    border-radius: 25px;
    border-style: none;
  }

  div.book-sauna-time button:hover {
    background-color: #349feb89;
  }

  div.current-bookings{
    margin-left: 30px;
  }


  /* FORM STYLING */

form {
    margin: 15px;
    padding: 15px;
  }

form > div {
    padding: 10px;
}
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
form input,select {
    width: 70%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
form select {
    cursor: pointer;
  }
  
form button {
    margin: 10px; 
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

form button:hover {
    background-color: #349eeb;
  }

    /* SAUNA BOOKINGS STYLING */
